@{
    ViewBag.Title = "Home Page";
}

<div class="indexContainer col-md-10">
    <div class="Jumbotron">
        <h1 class="introTitle">
            The Budget-Butler
        </h1>
        <p class="intro">
            Tired of stressful last minute shopping for holidays or others events you have? Falling behind on bills because you didnt budget for birthdays or Christams? The Budget-Butler was designed to make those stressful time a little more managable for you. Simply:
        </p>

        <ol>
            <li class="instructionSteps">Create a budget for the holiday or event.</li>
            <li class="instructionSteps">Add people to the budget</li>
            <li class="instructionSteps">Enter gifts for the individual people.</li>
        </ol>

        <p class="intro">
            Budget-Butler will calculate the amount of the budget you've spent, the remaining balance you have left of your balance, and then amount of money you need to put back per paycheck in order to purchase the gifts. It allows you to keep track of your gifts and stay organized as well.
        </p>

        <div class="form-group">
            <div class="col-md-offset-5 col-md-2">
                @Html.ActionLink("Get Started", "Index", "Budget", null, new { @class = "getStarted" })
            </div>
        </div>
    </div>

</div>