@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HollyVent Budget Planner</h1>
    <p class="lead">
        Tired of stressful last minute shopping for holidays or others events you have? Falling behind on bills because you didnt budget for birthdays or Christams? HollyVent was designed to make those stressful time a little more managable for you. Simply:
    </p>

    <ol>
        <li class="instructionSteps">Create a budget for that holiday or event.</li>
        <li class="instructionSteps">Add people to the budget</li>
        <li class="instructionSteps">Enter gifts for the individual people.</li>
    </ol>

    <p>
        HollyVent will calculate the amount of the budget you've spent, the remaining balance you have left of your balance, and then amount of money you need to put back per paycheck in order to purchase the gifts. It allows you to keep track of your gifts and stay organized as well.
    </p>

    <p>"@Html.ActionLink("Get Started", "Index", "Budget")</p>
</div>